body{ padding:20px; font:15px/20px 微软雅黑; font-size:15px; }
div{ padding:20px; border:1px solid #999; }
div img{ margin-bottom:20px; }
div img:last-child{ margin-bottom:0 }
.left{ float:left; width:160px; line-height:0; }
.right{ float:right; width:80px; line-height:0; }
.middle{ margin:0 140px 0 220px; text-align:center; }
.wrapper{ background-color:#eee; min-width:730px; overflow:auto }
.wrapper div{ background-color:#fff; }