@charset "UTF-8";
.fl {
  _display: inline;
  float: left; }

.fr {
  _display: inline;
  float: right; }

.fn {
  float: none; }

.clear {
  clear: both; }

.clear:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clearfix {
  display: block;
  *display: inline-block; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.cut {
  overflow: hidden; }

.db {
  display: block; }

.none, .hide {
  display: none; }

/*m.index*/
body {
  font-family: Lucida Grande, 'Microsoft YaHei', "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  background: url("../images/m.images/m.bg.jpg") repeat-y #ffd37d;
  background-size: 100% 100%; }

/*顶部*/
.topBar {
  background: #444;
  line-height: 1.5rem;
  height: 1.5rem;
  color: #c1c1c1;
  position: relative;
  overflow: hidden; }

.topBar-logo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 2.5rem; }

.topBar-logo img {
  vertical-align: top;
  width: 2.5rem;
  height: 1.5rem; }

.topBar-userinfo li {
  float: right;
  margin-right: 0.20833rem;
  line-height: 1.5rem;
  font-size: 16px; }
  [data-dpr="2"] .topBar-userinfo li {
    font-size: 32px; }
  [data-dpr="3"] .topBar-userinfo li {
    font-size: 48px; }

.topBar-userinfo li a {
  margin: 0;
  color: #ccc; }

.slide-menu img {
  width: 1.25rem;
  height: 1.08333rem;
  margin: 0.20833rem; }

/*导航栏*/
div.slide-mask {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 125, 0, 0.3);
  /*背景覆盖*/
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  display: none; }

aside.slide-wrapper {
  border: 0.08333rem;
  border-color: #615e60;
  border-style: solid;
  -webkit-box-shadow: 20px 20px 80px 5px #ffdf68;
  -moz-box-shadow: 20px 20px 80px 5px #ffdf68;
  box-shadow: 20px 20px 80px 5px #ffdf68;
  position: absolute;
  z-index: 4;
  left: 0;
  top: 1.5rem;
  max-width: 12.5rem;
  /*滑动效果*/
  -webkit-transform: translate3d(-120%, 0, 0);
  -moz-transform: translate3d(-120%, 0, 0);
  -ms-transform: translate3d(-120%, 0, 0);
  -o-transform: translate3d(-120%, 0, 0);
  transform: translate3d(-120%, 0, 0);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

aside.slide-wrapper > div {
  background-color: #343434;
  text-align: center; }

aside.slide-wrapper > div > div {
  background-color: #2c2c2c;
  overflow: hidden;
  border-top: 2px solid #404040;
  border-bottom: 2px solid #262626;
  clear: both;
  position: relative; }

aside.slide-wrapper > div > div strong {
  line-height: 3;
  font-size: 16px;
  color: #fff;
  font-weight: normal;
  width: 100%; }
  [data-dpr="2"] aside.slide-wrapper > div > div strong {
    font-size: 32px; }
  [data-dpr="3"] aside.slide-wrapper > div > div strong {
    font-size: 48px; }

aside.slide-wrapper.moved {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

aside.slide-wrapper > div > div > div {
  width: 100%;
  border-top: 2px solid #404040;
  background-color: #343434; }

aside.slide-wrapper ul {
  display: table;
  margin: auto; }

aside.slide-wrapper li {
  float: left;
  text-align: center; }

aside.slide-wrapper li a {
  padding: 0 0.4rem;
  color: #fff;
  display: block;
  font-size: 14px;
  line-height: 3.2; }
  [data-dpr="2"] aside.slide-wrapper li a {
    font-size: 28px; }
  [data-dpr="3"] aside.slide-wrapper li a {
    font-size: 42px; }

aside.slide-wrapper li.current > a {
  background-color: #262626; }

/*新闻部分*/
.news-left {
  width: 100%; }

.news-top {
  padding: 0.625rem 0; }

.news-top h1 {
  text-align: center;
  overflow: hidden;
  line-height: 1.5em;
  font-weight: bold;
  font-size: 20px; }
  [data-dpr="2"] .news-top h1 {
    font-size: 40px; }
  [data-dpr="3"] .news-top h1 {
    font-size: 60px; }

.news-top h1 a {
  color: #aa210e; }

.news-top .red {
  color: #e22c14; }

.news-top p {
  line-height: 1.4;
  text-align: center;
  margin: 5px 0 10px 0;
  font-size: 16px;
  word-break: keep-all; }
  [data-dpr="2"] .news-top p {
    font-size: 32px; }
  [data-dpr="3"] .news-top p {
    font-size: 48px; }

.news-top p a {
  color: #ff735d;
  margin: 0 6px; }

/*news-tab*/
.news-left-tab {
  width: 100%;
  overflow: hidden; }

.news-left-tab .tab-title {
  width: 100%;
  max-width: 10rem;
  margin: 0 auto; }

.news-left-tab .tab-title ul {
  overflow: hidden;
  background: url("../images/m.images/news-left-title-ulbg.png") no-repeat;
  background-size: 100%;
  margin: 0 auto; }

.news-left-tab .tab-title li {
  float: left;
  width: 3.33333rem;
  height: 1.52rem; }

.news-left-tab .tab-title li span {
  display: block;
  width: 100%;
  line-height: 1.06667rem;
  text-align: center;
  cursor: pointer; }

.news-left-tab .tab-title li {
  background: url("../images/m.images/news-left-title-tab.png") no-repeat;
  background-size: 100%;
  color: #fff; }

.news-left-tab .tab-title li.active {
  background: url("../images/m.images/news-left-title-tab-active.png") no-repeat;
  background-size: 100%;
  color: #ff735d;
  margin: 0 auto; }

#news-left-con0, #news-left-con1, #news-left-con2 {
  width: 100%;
  position: relative; }

.news-left-tab .news-left-con {
  padding: 0.25rem 5% 0.5rem;
  margin: 0 auto;
  max-width: 10rem; }

.news-left-tab .news-left-con .news-left-list li {
  overflow: hidden;
  margin: 0.2rem 0;
  height: 2em;
  line-height: 2em;
  font-size: 1em; }

.news-left-tab .news-left-con .more {
  line-height: 2;
  text-align: center; }

.news-left-tab .news-left-con .more a {
  color: #b91614; }

.news-left-tab .news-left-con .news-left-list li > span {
  float: right;
  margin-left: 0.5rem; }

.news-left-tab .news-left-con .news-left-list li p {
  overflow: hidden; }

.news-left-tab .news-left-con .news-left-list li p span, .news-left-list li p span a {
  color: #c00; }

.news-left-tab .news-left-con .news-left-list li p > a {
  padding-left: 0.5rem;
  color: #000; }

.news-right {
  margin: 0 auto;
  width: 100%;
  clear: both;
  max-width: 10rem; }

.news-right .slide {
  position: relative; }

.news-right .slide img {
  width: 10rem; }

.news-right .slide ul {
  height: 5.09875rem; }

.news-right .slide ul li {
  position: absolute; }

.news-right .slide ul li span {
  overflow: hidden;
  width: 80%;
  padding: 0 10%;
  overflow: hidden;
  color: #815d3b;
  position: absolute;
  top: 5.09875rem;
  left: 0;
  background: url("../images/slide-bg.png") repeat;
  line-height: 3em;
  height: 3em;
  font-size: 12px; }
  [data-dpr="2"] .news-right .slide ul li span {
    font-size: 24px; }
  [data-dpr="3"] .news-right .slide ul li span {
    font-size: 36px; }

.news-right .slide ul li span a {
  overflow: hidden;
  display: inline-block;
  color: #4d2719;
  font-weight: 600; }

.news-right .slide .slide-btn {
  position: relative;
  z-index: 10;
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-top: -0.66667rem;
  margin-bottom: 0.66667rem; }

.news-right .slide .slide-btn a {
  display: inline-block;
  background: #fff;
  width: 0.61333rem;
  height: 0.61333rem;
  margin-left: 0.13333rem;
  background: url(../images/slide_btn.png) no-repeat;
  background-size: 200%; }

.news-right .slide .slide-btn .btn-hover {
  background-position: -0.61333rem 0; }

.news-right .adv {
  margin: 4em auto 1em;
  width: 100%;
  display: -moz-box;
  /* Firefox */
  display: -webkit-box;
  /* Safari and Chrome */ }

.news-right .adv a {
  display: block;
  -moz-box-flex: 1;
  /* Firefox */
  -webkit-box-flex: 1;
  /* Safari and Chrome */
  box-flex: 1;
  margin-left: 1em; }

.news-right .adv a:last-child {
  margin-right: 1em; }

.news-right .adv img {
  width: 100%; }

/*通用 top-title*/
.title-top {
  height: 0.84rem;
  width: 100%; }

.title-top-center, .title-top-left, .title-top-right {
  height: 0.84rem;
  background-size: 100%; }

.title-top .title-top-left {
  width: 2rem;
  background-image: url("../images/m.images/title-top-l.png");
  float: left; }

.title-top .title-top-right {
  width: 1.02667rem;
  background-image: url("../images/m.images/title-top-r.png");
  float: right; }

.title-top .title-top-center {
  margin-left: 1.97333rem;
  margin-right: 1rem;
  /*互相覆盖不会有颜色缝隙*/
  background-color: #c8ae88; }

.title-top .title-top-center div {
  background-size: 100%; }

.title-top .title-top-bg {
  width: 3.22667rem;
  height: 0.64rem;
  background-image: url(../images/m.images/title-top-ch.png);
  float: left;
  display: inline;
  margin-top: 0.10667rem;
  margin-left: 5%; }

.tl1 {
  background-position: 0 0; }

.tl2 {
  background-position: 0 -0.73333rem; }

.tl3 {
  background-position: 0 -1.54667rem; }

.title-newCard-current, .title-adventure-current {
  height: 100%;
  position: relative; }

.title-newCard-current ul, .title-adventure-current ul {
  position: absolute;
  display: none;
  z-index: 99;
  top: 100%;
  right: 5%;
  background-color: #ead0a6;
  border: solid 2px #f0ddbe; }

.title-newCard-current ul li, .title-adventure-current ul li {
  padding: 0.06667rem 0;
  text-align: center;
  color: #b30d0d; }

.title-newCard-current ul .on, .title-adventure-current ul .on {
  color: #660707;
  background-color: #ffefcc; }

.title-newCard-current ul li a, .title-adventure-current ul li a {
  padding: 0 0.13333rem;
  text-decoration: none; }

#title-newCard, #title-adventure {
  position: absolute;
  bottom: 0;
  right: 5%;
  width: 84px;
  text-align: center;
  padding: 0.06667rem 0.13333rem;
  border: solid 2px #f0ddbe;
  border-top: solid 2px #b30d0d;
  border-bottom: none;
  font-weight: 600;
  background-color: #ead0a6;
  color: #b30d0d;
  text-decoration: none; }

#title-adventure {
  width: 60px; }

[data-dpr="2"] #title-adventure {
  width: 120px; }

[data-dpr="3"] #title-adventure {
  width: 180px; }

[data-dpr="2"] #title-newCard {
  width: 168px; }

[data-dpr="3"] #title-newCard {
  width: 252px; }

/*职业部分 .career{}未设置*/
.career-title {
  margin-top: 0.13333rem; }

.career-title .title-career-current a {
  display: block;
  height: 0.8rem;
  float: right;
  margin-right: 10%;
  margin-top: 0.01333rem;
  width: 1.6rem;
  background: url("../images/m.images/title-career-current-bg.png");
  background-size: 100% 100%;
  text-align: center; }

/*职业选择栏*/
.career-title .career-chose {
  display: none; }

/*职业导航 新卡UL 冒险DIV 左右滚动*/
.career-title .career-chose ul, .newCard-list ul, .adventure-list {
  margin: 0 5%;
  width: 90%;
  box-sizing: border-box;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  float: left; }

.career-title .career-chose li {
  position: relative;
  background: url("../images/career-title.png") center no-repeat;
  background-size: 980%;
  height: 2.54667rem;
  width: 2.08rem;
  display: inline-block; }

.career-title .career-chose .career-chose0 {
  background-position-x: 0.10667rem; }

.career-title .career-chose .career-chose1 {
  background-position-x: -2.2rem; }

.career-title .career-chose .career-chose2 {
  background-position-x: -4.50667rem; }

.career-title .career-chose .career-chose3 {
  background-position-x: -6.84rem; }

/*.career-title .career-chose .career-chose4{
  background-position-x:jj(-688px);
}这是居中的那个  可以不写*/
.career-title .career-chose .career-chose5 {
  background-position-x: -11.46667rem; }

.career-title .career-chose .career-chose6 {
  background-position-x: -13.8rem; }

.career-title .career-chose .career-chose7 {
  background-position-x: -16.12rem; }

.career-title .career-chose .career-chose8 {
  background-position-x: -18.42667rem; }

.career-title .career-chose li div {
  display: table;
  position: absolute;
  height: 1.06667rem;
  padding-top: 1.48rem;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center; }

.career-title .career-chose li a {
  display: table-cell;
  vertical-align: middle; }

.career-title .career-chose li img {
  height: 100%; }

.career-title .career-chose .active div {
  background: url("../images/career-title-a.png") center 0.08rem no-repeat;
  background-size: 100%;
  color: #fff; }

.career-title .title-career-current a img {
  height: 100%; }

/*职业内容部分*/
.career-content {
  margin-top: 0.58667rem; }

.career-content .info-title {
  height: 2em;
  line-height: 2em;
  font-size: 120%;
  border-bottom: 0.05333rem solid #cbaf88;
  color: #233a6e;
  text-indent: 1em; }

.career-content .info-title a {
  font-size: 60%;
  color: #b10d00;
  float: right;
  margin-right: 1em; }

.career-content .info-left {
  width: 90%;
  margin: 0 5%; }

.career-content .info-left .hot-ka, .career-content .info-right .gonglve {
  padding: 1em 0 2em;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }

.career-content .info-left .hot-ka li, .career-content .info-right .gonglve li {
  display: inline;
  padding: 0.5em 2em;
  height: 2em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.career-content .info-left .hot-ka li a, .career-content .info-right .gonglve li a {
  font-size: 120%;
  color: #540404;
  line-height: 2em; }

.career-content .info-center {
  width: 90%;
  margin: 0 5%; }

.career-content .info-center .sp {
  overflow: hidden;
  display: -moz-box;
  /* Firefox */
  display: -webkit-box;
  /* Safari and Chrome */
  margin: 2em 0;
  justify-content: space-between; }

.career-content .info-center .sp li {
  position: relative;
  -moz-box-flex: 1;
  /* Firefox */
  -webkit-box-flex: 1;
  /* Safari and Chrome */
  box-flex: 1;
  line-height: 0;
  text-align: center; }

.career-content .info-center .sp li a {
  position: relative;
  margin: 0 auto;
  height: 100%;
  display: inline-block; }

.career-content .info-center .sp img {
  width: 2.4rem; }

.career-content .info-center .sp li .cov {
  background: url(../images/cov.png) repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; }

.career-content .info-center .sp li .cov span {
  display: block;
  width: 0.6rem;
  height: 0.6rem;
  margin: 25% auto 0;
  background: url("../images/ico.png") top center no-repeat;
  background-position: -1.84rem 0;
  background-size: 980%; }

.career-content .info-center .sp li .cov p {
  text-align: center;
  overflow: hidden;
  line-height: 0.32rem;
  color: #fff;
  margin-top: 0.06667rem; }

.career-content .info-right {
  width: 90%;
  margin: 0 5%; }

/*新卡部分*/
.newCard {
  margin-top: 0.33333rem; }

.newCard .newCard-content {
  padding: 0.26667rem 0; }

.newCard-list {
  overflow: hidden; }

.newCard-list li {
  padding: 0 0.10667rem;
  height: 3.14667rem;
  width: 2.24rem;
  /*必须加宽度，不然屏幕旋转后会变形*/
  display: inline-block;
  position: relative; }

.newCard-list li img {
  height: 100%; }

/*冒险模式*/
.adventure-list a {
  position: relative;
  display: inline-block;
  margin: 0.34667rem 0.29333rem;
  height: 2rem;
  width: 2.13333rem; }

.adventure-list a img {
  border: solid 0.02667rem #c5a17d;
  height: 100%; }

.adventure-list a:hover img {
  border: solid 0.02667rem #947c60; }

.left {
  float: left;
  width: 100%;
  margin-right: -504px;
  height: 200px;
  background-color: #fff; }

.right {
  float: right;
  height: 200px;
  width: 504px;
  background-color: #ccc; }

/*用device-width可以把iPhone4和5筛出来，只用width的话iPhone4和5有问题*/
@media screen and (min-device-width: 960px) {
  .topBar {
    height: 1.06667rem; }

  .topBar img {
    height: 100%;
    width: auto; }

  .topBar img:first-child {
    padding-left: 0.4rem;
    margin: 0; }

  .topBar li {
    line-height: 1.06667rem; }

  aside.slide-wrapper {
    top: 1.06667rem; }

  .news-left {
    float: left;
    width: 100%;
    margin-right: -9rem;
    clear: none; }

  .news-left-wrap {
    margin-right: 9rem;
    padding: 0 0 0 5%; }

  .news-top {
    padding: 0.5rem 0 0.2rem; }

  .news-left-tab .tab-title ul {
    width: 7rem; }

  .news-left-tab .tab-title li {
    width: 2.333333rem;
    height: 1rem; }

  .news-left-tab .tab-title li span {
    line-height: 0.8rem; }

  .news-left-tab .news-left-con {
    padding: 0 5% 0.5rem; }

  .news-right {
    float: right;
    width: 8rem;
    padding: 1rem 0.5rem;
    clear: none; }

  .news-right .slide ul li span {
    top: 4.07518rem; }

  .news-right .slide ul {
    height: 4.07518rem; }

  .news-right .slide img {
    width: 100%; }

  .career {
    width: 100%;
    clear: both; }

  .career .info-left {
    width: 4.44444rem;
    margin: 0 0.37037rem;
    float: left;
    clear: none; }

  .career-content .info-left .hot-ka, .career-content .info-right .gonglve {
    height: 2.22222rem;
    overflow: hidden;
    display: block; }

  .career-content .info-left .hot-ka li, .career-content .info-right .gonglve li {
    display: inline;
    float: left; }

  .career-content .info-left .hot-ka li {
    width: 1.66667rem;
    padding: 0 0.25926rem; }

  .career-content .info-right .gonglve li {
    clear: both;
    width: 90%;
    padding: 0 5%; }

  .career .info-center {
    margin: 0 5.18519rem;
    width: auto;
    clear: none; }

  .career .info-right {
    width: 4.44444rem;
    margin: 0 0.37037rem;
    float: right;
    clear: none; }

  .newCard {
    clear: both; }

  .adventure .db {
    overflow: hidden;
    display: -moz-box;
    display: -webkit-box;
    justify-content: space-between; }

  .adventure .db a {
    display: list-item;
    list-style: none;
    position: relative;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
    line-height: 0;
    text-align: center;
    margin-left: 0;
    margin-right: 0; } }

/*# sourceMappingURL=m.index.css.map */
