/*public style*/
a{text-decoration:none;color:#fff}
a:hover{color:#96e51a;}
.technology .con .con-2 a:hover, .technology .con-1 h2 a:hover, .technology .con-1 span:hover, .case li h2 a:hover, .others .info .con a:hover, .top ul li a:hover{color:#89d218 }
a:focus{-moz-outline-style:none;outline:none;}
fieldset,img{border:0;}
img{vertical-align:middle;border:0}
button,input,select,textarea{font-size:100%;}
button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;}
q:before,q:after{content:'';}
table{border-collapse:collapse;border-spacing:0;}
em,i{font-style:normal}
.fl{_display:inline;float:left}
.fr{_display:inline;float:right}
.fn{float:none}
.clear{clear:both;width:100%;font-size:1px;height:1px;line-height:1px}
.clearfix{display:block;*display:inline-block}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.op{filter:Alpha(opacity=70);opacity:0.7}
.cut{overflow:hidden}
.db{display:block}
.none,.hide{display:none}
.hand{cursor:pointer;}
.shadow{box-shadow:5px 5px 2px #dfdfdf;}
.fix{width:1000px;margin-right:auto;margin-left:auto}

/*下拉列表样式修改*/
select {
appearance:none;
-moz-appearance:none;
-webkit-appearance:none;
background: url('../img/search-bg.png') no-repeat center right 3px;
padding-right: 14px;}
select::-ms-expand { display: none; }

html{width:100%;background-color:#fff;}
/*header*/
.header{background-color:#f5f5f5;}
.header .top{height:28px; background-color:#ebebeb;font:12px/28px "SimSun";}
.header .top a{color:#535353;line-height:12px;}
.header .top-right{float:right;}
.header .top-right li{float:left;}
.header .top-right li a{line-height:28px;vertical-align:center;border-right:1px solid #535353;padding:0 7px;}
.header .top-right li:last-child a{padding-right:0;border:none}

.header .logo{background:url("../img/logo-bg.png") repeat-x;}
.header .logo-left{width:164px;height:85px;margin:16px 20px 20px 0;background:url('../img/imgs.png') no-repeat;background-position:0 -383px;}
.header .logo i{display:block;float:left;border-left:2px solid #8dc21e;margin-right:8px; height:37px;margin-top:64px}
.header .logo-center{width:310px;height:40px;margin-top:62px;background:url('../img/imgs.png') no-repeat;background-position:0 -494px;}
.header .logo-right{width:293px;height:89px;background:url('../img/imgs.png') no-repeat;background-position:-371px -494px;float:right;margin-top:19px;}

.header .nav{height:50px; background-color:#1c9e05;}
.header .nav li{font:16px/50px "Microsoft YaHei";float:left;width:112px;text-align:center; background:url('../img/nav-bg.png') right no-repeat;display:block;}
.header .nav li:first-child{width:106px;}
.header .nav li:last-child{width:110px;background:none;}
.header .nav li a{display:block;width:100%;}
.header .nav li a:hover{background:url('../img/nav-bg-hov.png') repeat-x;color:#fff}

.header .search{height:26px; background-color:#f5f5f5;}
.header .search span, .header .search span a{font:12px/26px "SimSun";color:#7d7d7d;}
.header .search span a:hover{color:#13b200;}
.header .search .search-right{padding:4px 0 3px;float:right;}
.header .search .search-right form{height:19px;overflow:hidden;}
.header .search .search-key , .header .search .search-submit , .header .search select{height:19px;border:1px solid #8dc21e;}
.header .search .search-key , .header .search select{font:12px/17px "SimSun";color:#a0a0a0;background-color:#f5f5f5;vertical-align:top;}
.header .search .search-key{padding:0 5px;}
.header .search select{padding:0 31px 0 9px}
.header .search .search-submit{font:12px/17px "Microsoft YaHei";color:#f5f5f5; background-color:#8dc21e;width:36px;vertical-align:top}

/*main*/

/*共用title*/
.title{padding:8px 0 0 3px;border-bottom:1px solid #9ac838;}
.title a{color:#448707;}
.title h1{font:800 21px/40px "Microsoft YaHei";display:inline-block;}
.title span{font:500 14px/14px "Arial";margin-left:19px;}

.main{}
.main .banner , .main .banner-center, .main .banner .banner-left , .main .banner .banner-right{height:433px;}
.main .banner-center{background:url('../img/banner-bg.jpg') repeat-x;z-index:99;position:relative}
.main .banner-left{width:50%;background:url('../img/banner-bgl.png') repeat-x;float:left}
.main .banner-right{width:50%;background:url('../img/banner-bgr.png') repeat-x;float:right;margin-top:-433px}

.product{margin-top:13px}
.product .classification{width:221px;float:left;margin-right:12px;}
.product .classification a i{display:block;width:221px;height:152px; background:url('../img/imgs.png');background-position:-442px -210px;}
.product .classification li{width:219px;height:46px;border:1px solid #ededed;border-top:none;background:url('../img/classification-bg.png') no-repeat left 32px center; background-color:#f3f3f3;}
.product .classification li a{margin-left:57px;color:#7d7d7d;font:16px/46px "Microsoft YaHei";}
.product .classification li a:hover{color:#96c337;}

.product .hot{width:765px; background-color:#f5f5f5;float:left;border:1px solid #efefef;}
.product .hot .title{width:725px;margin:0 auto 24px;}
.product .hot ul{padding:0 20px;}
.product .hot ul:last-child{margin:40px 0 20px;}
.product .hot li{border:1px solid #96c337;margin-right:15px;float:left;
box-shadow:1px 5px 5px #a9a9a9;
-webkit-box-shadow:1px 5px 5px #a9a9a9;
-moz-box-shadow:1px 5px 5px #a9a9a9;}
.product .hot li:last-child{margin-right:0;}

.product .culture{background-color:#f5f5f5;margin-top:12px;padding:21px 0;clear:both}
.product .culture li{float:left;margin-right:17px;width:237px;}
.product .culture li:last-child{margin-right:0}
.product .culture li div{width:235px;height:32px; text-align:center;border:1px solid #69a716;}
.product .culture li div a{font:14px/32px "Microsoft YaHei";color:#69a716;}
.product .culture li div a:hover{color:#8bda1c;}

.use{margin-top:15px}
.technology{width:355px;float:left;margin-right:14px;}
.technology .technology-title a{display:block;width:355px;height:152px;background:url('../img/imgs.png') no-repeat;background-position:0 -168px;}
.technology .con{width:327px;padding:13px 13px 0;border:1px solid #b6b6b6;margin-top:13px;}
/*火狐字体略大*/@-moz-document url-prefix() {.technology .con{margin-top:8px}}
.technology .con img{width:98px;height:131px;}
.technology .con li{margin-bottom:23px;}
.technology .con-1{width:216px; margin-left:13px;float:right}
.technology .con-1 h2 a{color:#626262;font:600 14px/22px "Microsoft YaHei"}
.technology .con-1 p{color:#626262;font:12px/18px "SimSun"; text-indent:2em;}
.technology .con-1 span{color:#438707;font:12px/18px "SimSun";float:right}
.technology .con .con-2{margin:17px 0 0 0;border-top:1px solid #e5e5e5;padding:6px 0 7px;}
.technology .con .con-2 li{margin:0}
.technology .con .con-2 a, .technology .con .con-2 i, .technology .con .con-2 b{font:600 12px/24px "SimSun";color:#69a716}
.technology .con .con-2 i{margin-right:15px;}
.technology .con .con-2 b{float:right}

.case{width:589px;padding:7px 20px;float:left;border:1px solid #bdbdbd}
.case .title{width:589px;margin:0 auto 11px;}
.case ul li{width:173px;float:left;margin:0 35px 42px 0;}
.case ul li:last-child{margin-right:0;}
.case li h2 a{font:14px/30px "Microsoft YaHei";color:#69a716;margin:4px 6px 0;}
.case li p{font:12px/20px "SimSun ";color:#959595;text-indent:2em;margin:0 6px;}
.case .case-search{}
.case .case-search-text , .case .case-search-submit , .case select{height:23px;border:1px solid #bcbcbc;vertical-align:top;color:#959595;font:12px/19px "SimSun";display:block;float:left;margin-top:12px;}
.case .case-search .case-search-text{width:95px;padding:0 12px;margin:12px 2px 13px 13px;}
.case .case-search .case-search-submit{color:#fff; background-color:#bcbcbc;width:45px;}
.case .case-search select {margin-left:7px; appearance:none; -moz-appearance:none; -webkit-appearance:none;background:none;padding:0 8px;width:95px;}
.case .case-search .select-1{background: url('../img/case-search-bg.png') no-repeat center right 3px;padding-right:20px;}

.certification{background-color:#f5f5f5;margin-top:17px;}
.certification .fix{position:relative}
.certification-list{width:960px;padding:32px 0;overflow:hidden;margin:0 auto}
.certification-list ul{width:9999px;height:126px;}
.certification-list li{float:left;border:1px solid #a1a1a1;margin:0 6px;}
.icon{position:absolute;z-index:99;bottom:32px;display:block;width:16px;height:126px;cursor:pointer;background:url('../img/imgs.png') no-repeat;}
.certification .certification-left{left:0; background-position:-361px -362px;}
.certification .certification-right{right:0;background-position:-399px -362px;}

.others{margin-top:19px;}
.others .gointo{width:327px;margin-right:10px;/*float:left*/}
.others .gointo a{display:block;background:url('../img/imgs.png') no-repeat;background-position:0 -82px;width:100%;height:73px;}
.others .gointo .con{width:289px;padding:17px 18px;border:1px solid #b7b7b7;height:324px;}
.others .gointo .con p{font:12px/25px "SimSun"; color:#535353;text-indent:2em;margin-top:20px;}
.others .info{width:663px;}
.others .info a i{display:block;width:100%;height:73px;background:url('../img/imgs.png') no-repeat;background-position:0 0;}
.others .info .con{width:635px;padding:14px 13px;border:1px solid #b7b7b7;}
.others .info .con ul{margin-left:19px;margin-top:3px;}
.others .info .con li{border-bottom:1px solid #f7f5f5;width:342px;float:right;padding:9px 8px;}
.others .info .con li:last-child{border:none;}
.others .info .con a{color:#535353}
.others .info .con h2{font:600 14px/24px "SimSun";letter-spacing:2px;}
.others .info .con span{font:500 12px/22px "SimSun";letter-spacing:1px;}

.expressLane{background-color:#69a716;margin-top:15px;}
.expressLane .title{border-bottom:1px solid #fff;width:997px;}
.expressLane .title a{color:#fff;}
.expressLane .con .con-ul{width:700px;padding:18px 0;}
.expressLane .con li{float:left;}
.expressLane .con li b,.expressLane .con li span{color:#fff}
.expressLane .con li b{font:600 14px/18px "SimSun";float:left}
.expressLane .con li span{font:12px/18px "SimSun"}
.expressLane .con ul li ul{padding:8px 0;}
.expressLane .con ul li ul li span a{padding:0 6px;border-right:1px solid #fff;vertical-align:top}
.expressLane .con ul li ul li:last-child span a{border:none}
.expressLane .con i{display:block;width:291px;height:111px; background:url('../img/imgs.png') no-repeat; background-position:-372px -81px;float:right;margin-top:19px;}

.other-links{background-color:#ebebeb;padding:20px 0 34px;border-bottom:1px solid #69a716}
.other-links .link-list li{float:left;width:106px;background:url('../img/imgs.png') no-repeat; background-position:0 -549px;margin-right:5px;text-align:center}
.other-links .link-list li a{font:14px/35px "SimSun";}
.other-links .tel{margin-top:37px;}
.other-links .tel ul{width:400px;}
.other-links .tel li{text-align:center;float:left;height:123px;margin-left:15px;}
.other-links .tel li span{font:12px/28px "SimSun";color:#707070;bottom:0}
.other-links .other-links-i-1{display:block;width:141px;height:73px;background:url('../img/imgs.png') no-repeat;background-position:-190px -383px;margin:12px 0 17px;}
.other-links .other-links-i-2{display:block;width:102px;height:102px;background:url('../img/imgs.png') no-repeat;background-position:-562px -383px;}
.other-links .other-links-i-3{display:block;width:103px;height:102px;background:url('../img/imgs.png') no-repeat;background-position:-450px -383px;}
.other-links .tel .con{width:540px;float:right;margin-top:43px}
.other-links .tel .con p{font:12px/20px "SimSun";color:#707070}
.other-links .tel .con span{font:600 16px/20px "SimSun";color:#69a716}

.footer{ background-color:#ebebeb;border-top:1px solid #fff}
.footer .bgdiv{height:6px;}
.footer .con{padding:10px 0 13px;height:40px; background-color:#535353;}
.footer .con ul{width:50%;float:left}
.footer .con ul li span , .footer .con ul li a{font:12px/20px "SimSun";color:#77c60c}
.footer .con ul li a:hover{color:#9fff65 }